.container {
    height: 100%;
    width: 100%;
    background: url("../../images/home_background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

.content {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
}